<section>
    <div class="leftContainer">
        <h1>Let`s work together</h1>
    </div>
    <div class="rightContainer">
        <p>
            "I'm a passionate Front-end developer based in Donaueschingen, Germany, dedicated to transforming creative
            concepts into tangible digital experiences.
            With a keen eye for design, I thrive on collaborating with innovative minds to bring ideas to life.
            Eager to progress in my developer journey, I am actively seeking opportunities for a junior web developer
            role.
            <br>
            <br>
            If you believe my skills align with your project needs, feel free to reach out. I look forward to
            contributing to your team's success!"
        </p>

       <a href="#contact">Send a message</a>
    </div>
</section>