@import '../../styles.scss';

section{
    width: 100vw;
}

.contentContainer{
    padding: 0px 10vw;
    max-width: 1920px;
}

.textContainer{
    padding: 160px 0;
    width: 100%;
}

h1{
    font-family: $baloo;
    font-size: 96px;
    line-height: 100px;
    color: $mediumGreen;
}

p{
    font-family: $montserrat;
    font-size: 24px;
    line-height: 28px;
}

@media(max-width: 1050px){
    .contentContainer{
        padding: 0px 32px;
    }
}

@media(max-width: 550px){
    h1{
        font-size: 70px;
        line-height: 74px;
    }
}

@media(max-width: 450px){
    .contentContainer{
        padding: 0px 16px;
    }
}