@import '../../styles.scss';

* {
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 120px;
    width: calc(100% - 20vw);
    background: linear-gradient(to right, $mediumGreen, white 70%);

    .logo {
        width: 64px;
        height: 69px;
    }

    .burgerMenuImg{
        width: 32px;
        height: 32px;
    }
}

.linkContainer {
    display: flex;
    gap: 36px;
}

a {
    text-decoration: none;
    color: $mediumGreen;
    font-weight: 400;
    font-size: 24px;

    &:hover {
        font-weight: 900;
    }
}

.burgerMenuImg {
    display: none;
    width: 32px;
    height: 32px;

    &:hover {
        cursor: pointer;
    }
}

.burgerMenuContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100vw;
    background: linear-gradient(to bottom, white, $lightGreen);
    transition: transform 0.9s ease;
}

.burgerMenuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px 0 32px;
}

.mobileLinksContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.burgerMenuAnimation {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 30px;
    width: 30px;
    overflow: hidden;

    .strokeTop {
        transform-origin: top left;
    }

    .strokeMiddle {
        opacity: 1;
    }

    .strokeBottom {
        transform-origin: bottom left;
    }

    &:hover{
        cursor: pointer;
    }
}

.stroke {
    background-color: $mediumGreen;
    width: 45px;
    height: 2px;
}

.crossed {
    .strokeTop {
        animation: animationStrokeTop 0.8s ease forwards;
    }

    .strokeMiddle {
        opacity: 0 !important;
    }

    .strokeBottom {
        animation: animationStrokeBottom 0.8s ease forwards;
    }
}


@keyframes animationStrokeTop {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(43deg);
    }
}

@keyframes animationStrokeBottom {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(-43deg);
    }
}

// media querry --------------------------------
@media(max-width: 1050px) {
    section {
        padding: 24px 32px 0 32px;
    }

    .linkContainer {
        gap: 24px;

        >a {
            font-size: 20px;
        }
    }
}

@media(max-width: 750px) {
    .linkContainer {
        display: none;
    }

    .burgerMenuImg {
        display: flex;
        filter: brightness(50%);
    }
}

@media(max-width: 450px) {

    section {
        padding: 24px 16px;
    }
}