<section>
    <img src="../../assets/img/hero/hero_logo.png" alt="logo" class="logo">
    <div class="linkContainer">
        <a href="#aboutMe">About me</a>
        <a href="#skillSet">Skill set</a>
        <a href="#myProjects">My work</a>
    </div>

    <!-- Burger menu -->
    <img (click)="switchMenu()" class="burgerMenuImg" src="../../assets/img/burger_menu.png" alt="burger_menu">

    <div class="burgerMenuContainer" [ngStyle]="{ 'transform': containerPosition }">
      <div class="burgerMenuHeader">
        <img src="../../assets/img/hero/logo_green.png" alt="logo_green">

        <div class="burgerMenuAnimation" [class.crossed]="animate" (click)="switchMenu()">
          <div class="strokeTop stroke"></div>
          <div class="strokeMiddle stroke"></div>
          <div class="strokeBottom stroke"></div>
        </div>

      </div>

      <div class="mobileLinksContainer">
        <a href="#aboutMe" (click)="switchMenu()">About me</a>
        <a href="#skillSet" (click)="switchMenu()">Skill set</a>
        <a href="#myProjects" (click)="switchMenu()">My work</a>
        <a href="#contact" (click)="switchMenu()">Contact</a>
      </div>
    </div>

</section>