<section>
    <a href=""><img src="../../assets/img/hero/hero_logo.png" alt="logo" class="logo"></a>
    <div class="linkContainer">
        <a href="#aboutMe">{{'link_1' | translate }}</a>
        <a href="#skillSet">{{'link_2' | translate }}</a>
        <a href="#myProjects">{{'link_3' | translate }}</a>

        <select (change)="switchLanguage($event)">
          <option value="en" [selected]="currentLanguage === 'en'">English</option>
          <option value="de" [selected]="currentLanguage === 'de'">Deutsch</option>
        </select>
        
    </div>

    <!-- Burger menu -->
    <img (click)="switchMenu()" class="burgerMenuImg" src="../../assets/img/burger_menu.png" alt="burger_menu">

    <div class="burgerMenuContainer" [ngStyle]="{ 'transform': containerPosition }">
      <div class="burgerMenuHeader">
        <img src="../../assets/img/hero/logo_green.png" alt="logo_green">

        <div class="burgerMenuAnimation" [class.crossed]="animate" (click)="switchMenu()">
          <div class="strokeTop stroke"></div>
          <div class="strokeMiddle stroke"></div>
          <div class="strokeBottom stroke"></div>
        </div>

      </div>

      <div class="mobileLinksContainer">
        <a href="#aboutMe" (click)="switchMenu()">{{'link_1' | translate }}</a>
        <a href="#skillSet" (click)="switchMenu()">{{'link_2' | translate }}</a>
        <a href="#myProjects" (click)="switchMenu()">{{'link_3' | translate }}</a>
        <a href="#contact" (click)="switchMenu()">{{'link_4' | translate }}</a>

        <select (change)="switchLanguage($event)">
          <option value="en" [selected]="currentLanguage === 'en'">English</option>
          <option value="de" [selected]="currentLanguage === 'de'">Deutsch</option>
        </select>
        
      </div>
    </div>

</section>