@import '../shared/shared.scss';

*{
    font-family: 'Montserrat', sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 24px 100px 0 100px;

    >img{
        width: 64px;
        height: 69px;
    }

    >div{
        display: flex;
        gap: 36px;

        >a{
            text-decoration: none;
            color: $green;
            font-weight: 400;
            font-size: 24px;
        }
    }
}