<section>
    <img src="../../assets/img/hero/hero_logo.png" alt="logo">
    <div class="linkContainer">
        <a href="#aboutMe">About me</a>
        <a href="#skillSet">Skill set</a>
        <a href="#myProjects">My work</a>
    </div>

    <!-- Burger menu -->
    <img (click)="switchMenu()" class="burgerMenuImg" src="../../assets/img/burger_menu.png" alt="burger_menu">

    <div class="burgerMenuContainer" [ngStyle]="{ 'transform': containerPosition }">
      <div class="burgerMenuHeader">
        <img src="../../assets/img/hero/logo_green.png" alt="logo_green">

        <div class="burgerMenuAnimation" [class.crossed]="animate" (click)="switchMenu()">
          <img class="strokeTop stroke" src="../../assets/img/burger_menu_stroke.png" alt="">
          <img class="strokeMiddle stroke" src="../../assets/img/burger_menu_stroke.png" alt="">
          <img class="strokeBottom stroke" src="../../assets/img/burger_menu_stroke.png" alt="">
        </div>

      </div>
    </div>

</section>