<footer>

    <img src="../../assets/img/hero/hero_logo.png" alt="Logo">

    <div>
        <p>© Kevin Schmidt 2024</p>
        <a href="imprint" class="desktopImpressum">{{'imprint' | translate}}</a>
    </div>

    <div class="linkContainer">
        <a href="https://github.com/KevinS-2023" target="_blank"><img src="../../assets/img/links/github_white.png" alt="Github"></a>
        <a href="mailto:kevin.schmidt.1990@web.de" target="_blank"><img src="../../assets/img/links/email_white.png" alt="Email"></a>
        <a href="https://www.linkedin.com/in/kevin-schmidt-a571172aa/" target="_blank"><img src="../../assets/img/links/linkedin_white.png" alt="Linkedin"></a>
    </div>

    <div class="mobileImpressum">
        <a href="imprint">{{'imprint' | translate}}</a>
    </div>
    
</footer>
