@import '../../styles.scss';

footer{
    display: flex;
    justify-content: space-between;
    padding: 120px 10vh;
    background: linear-gradient(to right, $mediumGreen, $darkGreen);
}

.mobileImpressum{
    display: none;
}

.linkContainer{
    display: flex;
    gap: 24px;
}