@import '../../styles.scss';

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formControlContainer {
    border: 1px solid $mediumGreen;
    border-radius: 10px;
    font-family: $montserrat;
    font-size: 16px;
    padding: 0px 25px;
    margin: 1px;
    background-color: white;

    >p {
        font-size: 12px;
        line-height: 18px;
        display: none;
        margin: 0;
    }

    &:hover {
        margin: 0;
        border: 3px solid $mediumGreen;
    }

    &:focus-within {
        padding: 6px 25px;

        >p {
            color: $mediumGreen;
            display: flex;
        }
    }
}

.inputField {
    width: 98%;
    height: 50px;
    border: none;
    outline: none;
    background-color: white;

    &:focus {
        height: 20px;

        &::placeholder {
            color: transparent;
        }
    }
}

textarea {
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    margin: 15px 0px 15px 0px;

    &:focus {
        margin: 0;

        &::placeholder {
            color: transparent;
        }
    }
}

.checkBoxField {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid $mediumGreen;
}

.buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    >button {
        padding: 12px 24px;
        border: 2px solid $mediumGreen;
        border-radius: 10px;
        background-color: transparent;
        font-family: $montserrat;
        color: $mediumGreen;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            animation: fillAnimation 0.4s ease forwards;
        }
    }
}

/* For Chrome, Safari und Opera */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* For Firefox */
input:-moz-autofill {
    -moz-box-shadow: 0 0 0 1000px white inset;
}

/* For Internet Explorer */
input:-ms-autofill {
    background-color: transparent !important;
}

@media(max-width: 550px){
    .formControlContainer {
        width: calc(100% - 50px);
    }
}
