<form (submit)="sendMail()" ngNativeValidate>
    <div class="formControlContainer">
        <p>Your name</p>
        <input required title="Please insert your name" type="text" name="name" id="" placeholder="Your name" class="inputField">
    </div>

    <div class="formControlContainer">
        <p>Your mail</p>
        <input required title="Please insert your email adress" type="email" name="email" id="" class="inputField" placeholder="Your email">
    </div>

    <div class="formControlContainer">
        <p>Your Message</p>
        <textarea required name="" id="" cols="30" rows="10" placeholder="Your message" name="message"></textarea>
    </div>

    <div>
        <input type="checkbox" required class="checkBoxField">
        <p>I've read the </p>
        <a href="">privacy police</a>
        <p>and agree to the processing of my data as outlined.</p>
    </div>
    
    <div class="buttonContainer">
        <button>Send message</button>
    </div>
    

</form>