<header>
    <h1>Contact</h1>
</header>

<section>

    <div class="leftContainer">
        <h2>Got a problem to solve?</h2>
        <p>
            Feel free to reach out to me using this form.
            <br>
            I'm eager to connect, learn about your ideas, and contribute to your projects with my skills.
        </p>
        <div>
            <h4>Need a Frontend developer?</h4>
            <h3>Contact me!</h3>
        </div>
    </div>

    <app-contact-form class="contactForm"></app-contact-form>

</section>