<app-header [backColor]="true"></app-header>
<section>
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Kevin Schmidt<br />
        Hindemithstra&szlig;e 11<br />
        78166 Donaueschingen</p>

    <h2>Kontakt</h2>
    <p>
        Telefon: &#91;Telefonnummer&#93;
        <br />
        E-Mail: kevin.schmidt_1990&#64;web.de
    </p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
</section>