section {
    padding: 200px 10vw;
    min-height: 100vh;
}

@media(max-width: 550px) {
    section {
        padding: 120px 32px !important;
    }
}

@media(max-width: 450px) {
    section {
        padding: 120px 16px !important;
    }
}