@import '../../styles.scss';

section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, white, $lightGreen);
    display: flex;
    margin-top: 120px;
}

.bigCircle {
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 100%;
    top: -50vw;
    left: -50vw;
    z-index: 0;
    background: linear-gradient(to bottom right, $mediumGreen, $darkGreen);
}

.rightContainer{
    width: 50vw;
    margin-left: 50vw;
    padding-right: 10vw;
}

.rightContainerTop{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.rightContainerBottom{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >div{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
}

.scrollContainer{
    margin-left: calc(32px + 103px);

    >div{
        height: 40vh;
        width: 2px;
        background-color: $mediumGreen;
    }

    >span{
        font-family: $montserrat;
        font-weight: 500;
        font-size: 24px;
        color: $mediumGreen;
    }
}

h1 {
    margin: 0;
    font-family: $baloo;
    font-weight: 800;
    font-size: 128px;
    line-height: 132px;
    color: $mediumGreen;
}

h2 {   
    margin: 0; 
    font-family: $montserrat;
    font-weight: 400;
    font-size: 64px;
    line-height: 68px;
    color: $mediumGreen;
}

.smalCircle{
    width: 206px;
    height: 206px;
    position: absolute;
    top: calc(100vh + 17px);
    left: calc(50vw - 103px);
}

.portrait{
    height: calc(80vh + 120px);
    position: absolute;
    top: 20vh;
    left: 32px;
}

@media(max-width: 1400px){
    h1{
        font-size: 96px;
        line-height: 100px;
    }

    h2{
        font-size: 48px;
        line-height: 52px;
    }
}

@media(max-width: 1150px){
    h1{
        font-size: 72px;
        line-height: 76px;
    }

    h2{
        font-size: 36px;
        line-height: 40px;
    }
}

@media(max-width: 1050px){
    .rightContainer{
        padding-right: 32px;
    }
    
}

@media(max-width: 650px){
    h1{
        font-size: 56px;
        line-height: 60px;
    }

    h2{
        font-size: 32px;
        line-height: 36px;
    }
}


// mobile devices
@media(max-width: 550px){
    section{
        flex-direction: column-reverse;
    }

    .rightContainer{
        margin: 0;
        width: 100%;
    }

    .rightContainerTop{
        align-items: center;
        height: 50vh;
    }

    .rightContainerBottom{
        height: 50vh;
    }

    h1{
        font-size: 72px;
        line-height: 76px;
        color: white !important;
        z-index: 1;
    }

    h2{
        font-size: 36px;
        line-height: 40px;
        color: white !important;
        z-index: 1;
    }

    .bigCircle {
        width: 150vw !important;
        height: 150vw !important;
        top: -5vw !important;
        left: -50vw !important;
        z-index: 0 !important;
    }

    .portrait{
        height: 50vh;
        position: absolute;
        top: 50vh;
        left: 32px;
    }

    .scrollContainer{
        display: none !important;
    }

    .linkContainer{
        display: none !important;
    }
}