<section>

    <div class="leftContainer">
        <!-- portrait -->
        <img class="portrait" src="../../assets/img/hero/portrait_mobile.png" alt="">

    </div>

    <div class="rightContainer">
        <div class="mainText">
            <h2>Hello! I am Kevin</h2>
            <h1>Frontend</h1>
            <h1>Developer</h1>
        </div>

        <div class="linkContainer">
            <a href="{{link.link}}" target="_blank" *ngFor="let link of links, let index"><img [src]="link.imgPath" alt=""></a>
        </div>

    </div>

</section>

<!-- big circle -->
<img src="../../assets/img/hero/hero_ellipse.png" alt="" class="bigCircle">

<div class="bigCircleMobile"></div>

<!-- smal circle -->
<img class="smalCircle" src="../../assets/img/circel_big.png" alt="circel_big">