<section>

    <div class="leftContainer">
        <!-- portrait -->
        <img class="portrait" src="../../assets/img/hero/portrait.png" alt="portrait">

        <!-- big circle -->
        <img src="../../assets/img/hero/hero_ellipse.png" alt="" class="bigCircle">
    </div>

    <div class="rightContainer">

        <!-- Text -->
        <div class="mainText">
            <h2>{{ 'hello_1' | translate}}</h2>
            <h1>{{ 'hello_2' | translate}}</h1>
            <h1>{{ 'hello_3' | translate}}</h1>
        </div>

        <div class="linkContainer">
            <a href="{{link.link}}" target="_blank" *ngFor="let link of links, let index"><img [src]="link.imgPath"
                    alt=""></a>
        </div>

    </div>

</section>



<!-- smal circle -->
<img class="smalCircle" src="../../assets/img/circel_big.png" alt="circel_big">