@import '../../styles.scss';

section {
    width: 100%;
    height: calc(100vh - 90px);
    background: linear-gradient(to bottom, white, $lightGreen);
    display: flex;

    >div {
        height: calc(100vh - 90px);
        width: 50vw;
        z-index: 1;
    }
}

.leftContainer {
    display: flex;
    align-items: flex-end;
    padding-left: 10vh;

    >img {
        height: 80vh;
    }
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 10vw;

    >div {
        display: flex;
        flex-direction: column;
    }

    .linkContainer {
        gap: 24px;

        >a{
            >img{
                width: 48px;
                height: 48px;
            }
        }
      
    }
}

h1 {
    margin: 0;
    font-family: $baloo;
    font-weight: 800;
    font-size: 128px;
    line-height: 132px;
    color: $mediumGreen;
}

h2 {
    margin: 0;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 64px;
    line-height: 68px;
    color: $mediumGreen;
}

.bigCircle {
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 100%;
    top: -55vw;
    left: -50vw;
    z-index: 0;
    background: linear-gradient(to bottom right, $mediumGreen, $darkGreen);
}

.smalCircle {
    width: 206px;
    height: 206px;
    position: absolute;
    top: calc(100vh - 103px);
    left: calc(50vw - 103px);
    z-index: 2;
}

@media(max-width: 1400px) {
    h1 {
        font-size: 96px;
        line-height: 100px;
    }

    h2 {
        font-size: 48px;
        line-height: 52px;
    }
}

@media(max-width: 1150px) {
    h1 {
        font-size: 72px;
        line-height: 76px;
    }

    h2 {
        font-size: 36px;
        line-height: 40px;
    }
}

@media(max-width: 1050px) {
    .leftContainer {
        padding-left: 32px;

        >img {
            height: 60vh;
        }
    }

    .rightContainer {
        padding-right: 32px;
    }

}

@media(max-width: 750px) {
    h1 {
        font-size: 56px;
        line-height: 60px;
    }

    h2 {
        font-size: 32px;
        line-height: 36px;
    }

}


// mobile devices
@media(max-width: 620px) {
    section {
        flex-direction: column-reverse;
        height: 100vh;

        >div {
            height: 50vh;
            width: 100vw;
            z-index: 1;
        }
    }

    .rightContainer {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 32px;
    }

    h1 {
        font-size: 72px;
        line-height: 76px;
        color: white !important;
        z-index: 1;
    }

    h2 {
        font-size: 36px;
        line-height: 40px;
        color: white !important;
        z-index: 1;
    }

    .bigCircle {
        width: 150vw !important;
        height: 150vw !important;
        top: -5vh !important;
        left: -55vw !important;
        z-index: 0 !important;
    }

    .smalCircle {
        top: calc(100vh + 17px);
        left: calc(50vw - 103px);
        z-index: 2;
    }

    .linkContainer {
        display: none !important;
    }
}

@media(max-width: 450px){
    .leftContainer {
        padding: 0 16px;
    }
    
    .rightContainer {
        padding: 0 16px;
    }

    h1 {
        font-size: 56px;
        line-height: 60px;
    }

    h2 {
        font-size: 32px;
        line-height: 36px;
    }
}