<section class="{{childData.reverse}}" [ngClass]="{'flexStart': childData.reverse === 'normal', 'flexEnd': childData.reverse === 'reverse'}">

    <div class="leftContainer">
        <a href="{{childData.htmlLink}}">
            <img src="{{childData.path}}" alt="{{childData.title}}">
        </a>
    </div>

    <div class="rightContainer">
        <h3>{{childData.title}}</h3>

        <div class="skillContainer">
            <div *ngFor="let skill of childData.skills" class="skill">
                <h4>{{skill}}</h4>
                <div class="partingLine"></div>
            </div>

        </div>

        <p>{{childData.description}}</p>

        <a class="githubButton" href="{{childData.gitHubLink}}">Github</a>
    </div>

</section>