@import '../../styles.scss';
@import '../project/project.componend.keyframes.scss';

section {
    width: 100%;
    display: flex;
    margin-bottom: 80px;

    >div {
        width: 50%;
        @include flex(center, flex-end);
        flex-direction: column;
        overflow: hidden;
    }
}
img {
    width: 100%;
    position: relative;
    top: -105%;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}
.leftContainer {
    align-items: flex-start;
}
.rightContainer {
    >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        position: relative;
        width: 100%;
        text-align: left;
        >p {
            max-width: 600px;
            margin: 16px 0;
        }
    }
}

// skills ----------------------------------------
.skillContainer {
    @include flex(center, none);
    flex-wrap: wrap;
    gap: 24px;
    >div {
        @include flex(center, none);
        gap: 12px;
    }
}

.partingLine {
    width: 2px;
    height: 24px;
    background-color: $mediumGreen;
}

// buttons --------------------------------------------------------------
.buttonContainer {
    @include flex(center, none);
    gap: 24px;
    >a {
        width: 120px;
        height: 40px;
        border: 2px solid $mediumGreen;
        border-radius: 10px;
        padding: 8px 16px;
        text-decoration: none;
        font-family: $montserrat;
        color: $mediumGreen;
        font-size: 24px;
        &:hover {
            cursor: pointer;
            animation: fillAnimation 0.4s ease forwards;
        }
    }
}

// font ------------------------------------------
h3, h4 {
    color: $mediumGreen;
    margin: 0;
}
h3 {
    font-family: $baloo;
    font-size: 45px;
    line-height: 50px;
    
}
h4 {
    font-family: $montserrat;
    font-size: 24px;
    line-height: 28px;
}
p {
    font-family: $montserrat;
    font-size: 16px;
}
@media(max-width: 1050px) {
    section {
        flex-direction: column;

        >div {
            width: 100%;
            @include flex(center, flex-end);
        }
    }

    .fromLeft {
        left: 105%;
    }

    .alignStart {
        padding: 0;
    }

    .alignEnd {
        padding: 0;
    }

    img {
        margin-bottom: 40px;
        position: relative;
        top: 0;
        left: -105%;
    }

    .reverse {
        flex-direction: column !important;
    }

    .skillContainer {
        gap: 12px;
    }

    .buttonContainer {
        flex-direction: column;
    }
}

@media(max-width: 550px) {
    .alignStart {
        align-items: flex-start !important;
        padding: 0;
        text-align: left;
    }

    .alignEnd {
        align-items: flex-start !important;
        padding: 0;
        text-align: center;
    }
}

@media(max-width: 450px) {
    section {

        >div {
            width: 100%;
        }
    }
}