<section class="{{childData.reverse}}" [ngClass]="{'flexStart': childData.reverse === 'normal', 'flexEnd': childData.reverse === 'reverse'}">

    <div class="leftContainer">
            <img src="{{childData.path}}" alt="{{childData.title}}">
    </div>

    <div class="rightContainer">
        <h3>{{childData.title}}</h3>

        <div class="skillContainer">
            <div *ngFor="let skill of childData.skills" class="skill">
                <h4>{{skill}}</h4>
                <div class="partingLine"></div>
            </div>

        </div>

        <p>{{ 'project_' + (index + 1) | translate }}</p>

        <div class="buttonContainer">
            <a  href="{{childData.gitHubLink}}" target="_blank">Github</a>
            <a  href="{{childData.projectLink}}" target="_blank">{{'projectButton' | translate}}</a>
        </div>
        
    </div>

</section>